@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to WebApplication2 running on Azure App Service</h1>
    <h3>Page Loaded @DateTime.Now.ToString()</h3>
</div>
